## 1- Program to find Largest 'n' numbers

In [1]:
n=int(input("print value of n:"))
a = list(map(int, input("Enter a multiple value: ").split())) 
a.sort(reverse=True)
print(a[0])

print value of n:5
Enter a multiple value: 4 5 3 6 1
6

In [3]:
max(a)

6

## 2- Count number of words in paragraph

In [4]:
para=str(input())
word=len(para.split(" "))

This is, what i call it peace. so please say no to war bro.

In [5]:
word

14

In [6]:
count=0
for i in para:
    if i==" ":
        count=count+1
print(count+1)

14

In [17]:
n=str("hi i am heart of my life adda")
a=n.split(" ")
len(a)

8

## 3- Removing the all the occurrences of the given character

In [70]:
word=str(input())
x=str(input("enter the letter to be removed:"))

hi daddy I am your son
enter the letter to be removed:d

In [71]:
print(word.replace(x,""))

hi ay I am your son

In [73]:
a=str()
for i in word:
    if i!=x:
        a=a+i
print(a)

hi ay I am your son

## 4- Count of letter Occurrences from the given paragraph

In [13]:
l=para.lower()

In [14]:
l.count('a')

7

In [16]:
c=0
for i in l:
    if i=='a':
        c=c+1
print(c)

7

## 5-Factorial Problems

In [21]:
n=int(input())
fact=1
for i in range(1,n+1):
    fact=fact*i
print(fact)

10
3628800

In [20]:
import math
print(math.factorial(10))

3628800

## 6-Fibonacci

In [39]:
n=int(input())
series=0
num1=0
num2=1
for i in range(1,n+1):
    print(series, end=" ")
    num1=num2
    num2=series
    series=num1+num2

8
0 1 1 2 3 5 8 13

In [56]:
def fibonacci(number):
    # return 0 and 1 for first and second terms
    if number == 0:
        return 0
    elif number == 1:
        return 1
    else:
        # return the sum of two numbers
        return fibonacci(number - 1) + fibonacci(number - 2)
n=int(input())
l=[]
for i in range(n):
    l.append(fibonacci(i))
print(l)
    #print(fibonacci(i),end=",")

8
[0, 1, 1, 2, 3, 5, 8, 13]

##  7-Maximum length of an increasing subarray

In [ ]:
def lenOfLongIncSubArr(arr, n) : 
    m = 1 
    l = 1  
    for i in range(1, n) : 
 
        if (arr[i] > arr[i-1]) : 
            l =l + 1 
        else :
            if (m < l): 
                m = l
                l = 1 
    if (m < l): 
        m = l
    return m 
arr = [5, 6, 3, 5, 7, 8, 9, 1, 2] 
n = len(arr) 
print("Length = ", lenOfLongIncSubArr(arr, n))

## 8-Sum of odd & even numbers from range

In [1]:
def sum(x,y):
    odd=[]
    even=[]
    for i in range(x,y+1):
        if i%2==0:
            even+=[i]
        else:
            odd+=[i]
    osum=0
    esum=0
    for i in odd:
        osum+=i
    for i in even:
        esum+=i
    print('Sum of odd nos.: ',osum)
    print('Sum of even nos.: ',esum)
x=int(input('Enter lower limit: '))
y=int(input('Enter upper limit: '))
sum(x,y)

Enter lower limit: 5
Enter upper limit: 25
Sum of odd nos.:  165
Sum of even nos.:  150

## 9-Mean, Variance and Standard deviation

In [2]:
import math
def cal(l):
    n=len(l)
    mean=0
    for i in l:
        mean+=i
    mean/=n
    var=0.0
    for i in l:
        var+=(i-mean)**2
    var/=n
    std=math.sqrt(var)
    print('Mean={}\nStandard Deviation={}\nVariance={}'.format(mean,std,var))
l=[]
n=int(input('Number of elements: '))
print('Enter values')
for i in range(n):
    l.append(float(input()))
cal(l)

Number of elements: 6
Enter values
3
6
8
14
53
32
Mean=19.333333333333332
Standard Deviation=17.773263315691043
Variance=315.88888888888897

In [3]:
import statistics as st
l=[3,6,8,14,53,32]
x=st.mean(l)
y=st.variance(l)
z=st.stdev(l)

In [13]:
print(x,"\n",y,"\n",z)

19.333333333333332
 379.0666666666667
 19.469634476966093

## 10-Print Pyramind

In [18]:
n=int(input('Enter no of rows: '))
for i in range(n):
    for j in range(n-i):
        print('   ',end=' ')
    for k in range(2*i+1):
        print('*  ',end=' ')
    print('\n')

Enter no of rows: 5
                    *

                *   *   *

            *   *   *   *   *

        *   *   *   *   *   *   *

    *   *   *   *   *   *   *   *   *

In [27]:
n=int(input('Enter no of rows: '))
for i in range(n):
    for j in range(n-i):
        print('   ',end=' ')
    for k in range(i+1):
        print('*  ',end=' ')
    for k in range(i):
        print('*  ',end=' ')
    print('\n')

Enter no of rows: 5
                    *

                *   *   *

            *   *   *   *   *

        *   *   *   *   *   *   *

    *   *   *   *   *   *   *   *   *

In [28]:
def num_pattern(n):
    for i in range(1,int(n)+1):
        for j in range(1, i+1):
            print(j, end=" ") 
            
        print("\n")
num_pattern(5)

1

1 2

1 2 3

1 2 3 4

1 2 3 4 5

## 11- String Palindrome in Paragraph

In [28]:
n=str("hi i am heart of my life adda")
a=n.split(" ")
len(a)

8

In [38]:
c=0
for i in a:
    r=reversed(i)
    i=list(i)
    l=list(r)
    if i==l:
        c+=1
print(c)

2

['h', 'i']

In [ ]:
list(reversed(a))

# Sorting

## Bubble Sort

In [80]:
def bubblesort(list):

# Swap the elements to arrange in order
    for iter_num in range(len(list)-1,0,-1):
        for idx in range(iter_num):
            if list[idx]>list[idx+1]:
                temp = list[idx]
                list[idx] = list[idx+1]
                list[idx+1] = temp


list = [19,2,31,45,6,11,121,27]
bubblesort(list)
print(list)

[2, 6, 11, 19, 27, 31, 45, 121]